.roboto_font {
    font-family: 'Roboto', sans-serif;
}
/* 
.text_point a{
    transition: color .4s ease;
}

.text_point a:hover{
    color: white;
}

.text_point span{
    font-size: x-large;
}

.hover-box{
    transition: 0.5s ;
}
  
.hover-box:hover{
    transform: scale(1.01);
} */

.active{
    background: rgb(188, 255, 246);
    margin-bottom: 10px;
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    border-width: 2px;
    border-color: black;
    padding-bottom: 10px;
    padding-top: 10px;
}

.active:hover{
    transform: scale(1.1);
}

.inputBox{
    text-align: center;
}
.inputBox input{
    text-align: center;
    width: 70%;
    height: 40px;
    border: solid black;
    border-width: 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    border-radius: 3px;
}
.inputBox:hover{
    transform: scale(1.1);
}

.toDolist{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    margin-bottom: 10px;
}

.doneList{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

.groupMain{
    margin: 24px auto;
    max-width: 800px;
    border-radius: 25px;
    padding: 25px;
    border: solid black;
}

.headerbobo{
    text-align: center;
}

.poom{
    margin: 5px 5px;
    border-radius: 3px;
}

.poom1:hover{
    transform: scale(1.1);
}

.poom2:hover{
    transform: scale(1.1);
}

.poom1{
    padding: 4px 4px;
    background: rgb(66, 248, 121);
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 5px;
}

.poom2{
    padding: 4px 4px;
    background: rgb(248, 76, 76);
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 5px;
}

.poom3{
    background: rgb(66, 248, 121);;
    margin-right: 10px;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    padding: 5px;
} 

.poom3:hover{
    transform: scale(1.1);
}

.poom4:hover{
    transform: scale(1.1);
}

.poom4{
    background: rgb(248, 76, 76);
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    margin-right: 10px;
    color: white;
    padding: 5px;
}
/* li: .poom3{

}

li:hover .poom3{
    
} */

/* .list{
    background: rgb(188, 255, 246);
    margin-left: 50px;
    margin-right: 50px;
} */

.pushokpai{
    margin-left: 20px;
    display: flex;
    margin-top: 6px;
}

.finished{
    text-decoration: line-through;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    background: rgb(240, 158, 81);
    margin-bottom: 10px;
    text-align: end;
    padding-right: 20px;
}

.buttondiv{
    margin-right: 20px;
}